<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
              <i class="fa fa-facebook" aria-hidden="true" style="color: white" ></i>          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
              <i class="fa fa-twitter" aria-hidden="true"  style="color: white"></i>          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
              <i class="fa fa-google-plus" aria-hidden="true" style="color: white"></i>          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
              <i class="fa fa-linkedin" aria-hidden="true"  style="color: white"></i>          </a>
        </li>
     
      </ul>
      <!-- Social buttons -->
      <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> CityBrand.com</a>
        </div>
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
  
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->