<div class="wrapper">

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>City Brand</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <a href="#about" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
        <ul class="collapse list-unstyled" id="about">
          <li *ngFor="let c of d1">
            <a (click)="getProductsByCategoryId(c.catId)">{{c.catNamr}}</a>
          </li>


        </ul>
      </li>

      <strong>
        <li><a href="#pageSubmenu">Many More Things are coming!!!!</a></li>
      </strong>
    </ul>
  </nav>
  <div id="content">

    <nav class="navbar navbar-expand-lg ">
      
      <div class="container-fluid">
          
        <button type="button" id="sidebarCollapse" class="navbar-btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">

        </button>
        

        <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item">
                  <div class="dropdown">
                    <a data-toggle="dropdown">
                      <i class="fa fa-user" style="padding-top: 11px" aria-hidden="true"><strong>Profile</strong></i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#"><strong>Hello:{{username}}</strong></a>
                      <a class="dropdown-item" [routerLink]="['/editprofile']" *ngIf="role" routerLinkActive="router-link-active">
                        <strong>EditProfile</strong></a>
                      <a class="dropdown-item" *ngIf="!role" [routerLink]="['/user']" routerLinkActive="router-link-active">
                        <i class="fa fa-sign-in"><strong>login</strong></i></a>
                      <a class="dropdown-item" [routerLink]="['/user']" *ngIf="role" routerLinkActive="router-link-active">
                        <i (click)="logout()" class="fa fa-sign-out"><strong>logout</strong></i></a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  [routerLink]="['/cart']" *ngIf="role" routerLinkActive="router-link-active" >Orders</a>
                </li>
         &nbsp;    
           
            <li class="nav-item">

              <a class="btn btn-link" [routerLink]="['/cart']" routerLinkActive="router-link-active"><i
                  class="fa fa-cart-plus" aria-hidden="true"><strong>Cart</strong></i></a>
            </li>
            <li class="nav-item active">
                <div class="col-xs-8 col-xs-offset-2">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" name="x" placeholder="Search term..."
                        [(ngModel)]="SearchItems">
                      <div class="input-group-append">
                        <button type="submit" class="input-group-text">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    
                    </div>
                  </form>
                </div>
              </li>
           </ul>
        </div>
      </div>
    </nav>
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/9/23/2583179b-7928-42e1-a1cf-ad0f06767bc31569210664170-Libas_Desk_Banner.jpG"
            alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img
            src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/9/18/78eca367-575b-47eb-a934-feecf84249781568801141536-Desktop-banner-for-him.jpG"
            alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img
            src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/banners/2019/9/18/f0885a7d-18a3-472c-bd7e-c89ab5d831f41568801141553-Desktop-banner-for-her.jpG"
            alt="New York" width="1100" height="500">
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <div id="section1">
      
        <h3 style="text-align: center;">Biggest Names In The Biz</h3>
        
        <marquee style="font-weight: bold">Grab your favourite brands</marquee>
    </div>
    <div class="row">
      <div *ngFor="let product of products |productFilter :SearchItems" class="col-md-3">
        <div class="card" style="width: 230px">
          <div class="card-header" style="background-color: antiquewhite">
            <button [routerLink]="['/description',product.id]" routerLinkActive="router-link-active"><img
                class="img-responsive" [src]="product.proImage" ></button>
          </div>
          <div class="card-body" style="height: 180px ; ">
              <a><span><strong>{{product.name}}</strong>  </span></a>
            <span class="badge badge-pill danger-color">New Arrival</span>
            
                <s>&#8377;{{product.dsicountPrice}}</s>
                
                <a><span>{{product.discount}}</span></a>
                <br>
                <a class="font-weight-bold blue-text"><span>&#8377; {{product.price}} </span></a>

           
            
            <div class="card-footer" style="background-color: white">
                <a class="btn btn-success"  style="width: 100%; background-color: black; color: white" (click)="addToCart(product)" data-toggle="modal" data-target="#myModal">Add to
                    cart</a>
      
            </div> 
            
            

          </div>

        </div>
      </div>
    </div>



    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Add to Cart</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody *ngFor="let cart of _cart">
                <tr>
                  <td>{{cart.name}}</td>
                  <td>{{cart.price}}</td>
                  <td>{{cart.quantity}}</td>
                  <td>{{cart.amount}}</td>
                  <td><a (click)="delete(cart.cartId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
      </div>
      </div>
    </div>
    <br>
    <app-footer></app-footer>
</div>

